<% teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, company_team_path(company, team) %></td>
    <td>
      <%= link_to edit_company_team_path(company, team) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to company_team_path(company, team), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
        <i class="fas fa-times"></i>
      <% end %>
    </td>
  </tr>
<% end %>
