<div class="container-fluid">
  <h1><%= t('teams.index.title') %></h1>

  <%= link_to t('companies.new.title'), new_company_team_path, class: 'btn btn-sm btn-primary botton-spaced-component' %>

  <% if @teams.empty? %>
    Você ainda não tem times.
  <% else %>
    <table class="table">
      <tr>
        <th><%= Team.human_attribute_name :name %></th>
      </tr>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, company_team_path(company) %></td>
        </tr>
    <% end %>
    </table>
  <% end %>
</div>
