<div class="container">
  <%= form_for @slack_configuration, url: company_slack_configuration_url(@company, @slack_configuration), method: :put, id: 'slack-config-form', remote: true do |form| %>
    <%= render 'slack_configurations/form', slack_configuration: @slack_configuration, form: form, stages: @stages %>
  <% end %>
</div>
