<div class="container">
  <h1><%= I18n.t("slack_configurations.edit.title") %></h1>
  <%= form_for @slack_configuration, url: company_slack_configuration_url(@company, @slack_configuration), method: :put, id: 'slack-config-form' do |form| %>
    <%= render 'slack_configurations/form', slack_configuration: @slack_configuration, form: form, stages: @stages, teams: @teams, customers: @customers %>
  <% end %>
</div>
