<!DOCTYPE html>
<html>
<head>
  <title>Status Report - <%= @product_name %></title>
</head>
<body>
  <h1>Hello World!</h1>
  <p>This is the status report for product: <%= @product_name %></p>
</body>
</html> 