.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.timeline-container {
    position: relative;
    background-color: #f8f8f8;
    height: 140px;
    max-width: 1000px;
    margin: 0 auto;
}
.timeline-nav {
    position: absolute;
    top: 55px;
    bottom: auto;
    color: #dfdfdf;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.timeline-nav:hover {
    color: #808;
    border: 2px solid #808;
    cursor: pointer;
}
.nav-future {
    right: 10px;
}
.nav-past {
    left: 10px;
}
.timeline-nav.inactive:hover {
    color: #dfdfdf;
    border: 2px solid #dfdfdf;
    cursor: not-allowed;
}
#timelineWrapper {
    position: relative;
    height: 100%;
    margin: 0 50px;
    overflow: hidden;
}
#timelineWrapper::before, #timelineWrapper::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
}
#timelineWrapper::before {
    left: 0;
    background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}

#timelineWrapper::after {
    right: 0;
    background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
#timeline {
    position: absolute;
    z-index: 1;
    top: 69px;
    min-width: 900px;
    height: 2px;
    background-color: #dfdfdf;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.event-marker {
    position: absolute;
    top: -6px;
    width: 10px;
    height: 10px;
    background-color: #f8f8f8;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.event-marker.selected {
    transform: scale(1.2);
    background-color: #808;
    border: 2px solid #808;
}
.event-marker:hover {
    transform: scale(1.2);
    background-color: #808;
    border: 2px solid #808;
}
.event-date{
    position: relative;
    bottom: 25px;
    width: 30px;
}
.timeline-tick {
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 20px;
    background-color: #dfdfdf;
}
.tick-label {
    position: absolute;
    bottom: 35px;
    font-size: 7pt;
    font-weight: bold;
}
.event-detail-container {
    min-height: 150px;
    background-color: #f8f8f8;
    padding: 20px;
}
.selected-event {
    width: 60%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}
.event-title {
    font-family: 'Georgia', serif;
    font-size: 20px;
}
.event-date-range {
    margin-top: 10px;
}
.event-start-date {
    display: inline-block;
}
.separator {
    display: inline-block;
}
.event-end-date {
    display: inline-block;
}
.event-notes {
    margin-top: 10px;
}
.help-block {
    margin-bottom: 0;

    font-size: 1.2rem;
    text-align: left;
}

.has-error {
    border: 2px solid lighten(#EE1C3A, 10%) !important;
    box-shadow: none;
}

.no-data {font-style: italic;}

.header-link {
    text-align: right;
    text-transform: uppercase;
}

.bottom-spaced-component {margin-bottom: 8px;}

label.required:after{content: " *"}

.label-hint { color: #768899; }

.data-red {
    color: #EE1C3A;
}

.data-yellow {
    color: #EEE1B7;
}

h1 {font-size: xx-large;}

h2 {
    font-size: large;
    margin-bottom: 15px;
    font-weight: bold;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
    font-weight: bolder;
}
.header {
    padding: 10px;
    background-color: #8fa9df;
    margin-bottom: 15px;
}

/* Style the list */
ul.breadcrumb {
    list-style: none;
    background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: large;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    color: black;
    content: "\2192";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
}
.red-project {
    background-color: #f0cbcf;
}

.circle-red {
    display: block;
    background: red;
    border: 1px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0;
}

.circle-green {
    display: block;
    background: green;
    border: 1px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0;
}

.circle-yellow {
    display: block;
    background: yellow;
    border: 1px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0;
}

.circle-transparent {
    display: block;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0;
}

.center {
    text-align: center;
}

.div-parent-check-group {
    border: 1px solid;
    background-color: rgba(11, 110, 154, 0.57);
}

#popup {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    position: absolute;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.queue-progress {
    width: 100%;
    background-color: lightgrey;
    border: 1px solid;
}

.queue-bar {
    width: 0;
    height: 20px;
    background-color: lightcoral;
    text-align: center;
    position: relative;
    display: table;
    vertical-align: middle;
    font-weight: bold;
}

.general-progress {
    width: 100%;
    background-color: lightblue;
    border: 1px solid;
}

.general-bar {
    width: 0;
    height: 20px;
    background-color: lightgreen;
    text-align: center;
    position: relative;
    display: table;
    vertical-align: middle;
    font-weight: bold;
}

.stamp {
    padding: 10px;
    background-color: lightskyblue;
    font-weight: bold;
    border: thin solid;
}

.red-stamp {
    background-color: #f0cbcf;
    padding: 10px;
    font-weight: bold;
    border: thin solid;
}

.green-stamp {
    background-color: #a0f0e0;
    padding: 10px;
    font-weight: bold;
    border: thin solid;
}

.stamp-title {
    font-size: x-small;
}

.stamp-content {
    font-size: large;
    min-height: 25px;
}

.standard-form {
    background-color: #f3f6fc;
    margin-top: 10px;
    padding: 10px;
}

.table-index {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.upstream {
    font-style: italic;
}

.top-button {
    width: 100%;
}

.detailed {
    vertical-align: super;
    font-size: smaller;
    color: lightgray;
    margin-left: 5px;
    font-style: italic;
}

.countdown {
    background-color: yellow;
    font-size: larger;
    padding: 5px;
    border: solid medium #730E15;
}

.loader {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 600ms linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 8px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


input[type=radio] {
    transform: scale(1.5);
}
