<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= I18n.t('exports.request_project_information.title') %></h3>
    <p><%= I18n.t('exports.request_project_information.csv_attached') %></p>
    <p><%= link_to I18n.t('exports.request_project_information.address_in_web'), user_url(@user) %></p>

    <%= render 'email_signature' %>
  </body>
</html>
