.help-block {
    margin-bottom: 0;

    font-size: 1.2rem;
    text-align: left;
}

.has-error {
    border: 2px solid lighten(#EE1C3A, 10%) !important;
    box-shadow: none;
}

.header-link {
    text-align: right;
    text-transform: uppercase;
}

.bottom-spaced-component {margin-bottom: 8px;}

label.required:after{content: " *"}

.label-hint { color: #768899; }

.data-red {
    color: #EE1C3A;
}

.data-yellow {
    color: #EEE1B7;
}

h1 {font-size: xx-large;}

h2 {
    font-size: large;
    margin-bottom: 15px;
    font-weight: bold;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
    font-weight: bolder;
}