.header {
    padding: 10px;
    background-color: #8fa9df;
}

/* Style the list */
ul.breadcrumb {
    list-style: none;
    background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: large;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    color: black;
    content: "\2192";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 30px;
    background-color: #6c62df;
    color: #FFFF;
    text-align: center;
    font-style: italic;
    font-size: small;
}

.page-body {
    position: relative;
    margin-bottom: 60px;
}
