.stamp {
    padding: 10px;
    background-color: lightskyblue;
    font-weight: bold;
    border: thin solid;
}

.red-stamp {
    background-color: #f0cbcf;
    padding: 10px;
    font-weight: bold;
    border: thin solid;
}

.green-stamp {
    background-color: #a0f0e0;
    padding: 10px;
    font-weight: bold;
    border: thin solid;
}

.stamp-title {
    font-size: x-small;
}

.stamp-content {
    font-size: large;
    min-height: 25px;
}

.standard-form {
    background-color: #f3f6fc;
    margin-top: 10px;
    padding: 10px;
}

.table-index {
    font-size: smaller;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}