.queue-progress {
    width: 100%;
    background-color: lightgrey;
    border: 1px solid;
}

.queue-bar {
    width: 0;
    height: 20px;
    background-color: lightcoral;
    text-align: center;
    position: relative;
    display: table;
    vertical-align: middle;
    font-weight: bold;
}

.general-progress {
    width: 100%;
    background-color: lightblue;
    border: 1px solid;
}

.general-bar {
    width: 0;
    height: 20px;
    background-color: lightgreen;
    text-align: center;
    position: relative;
    display: table;
    vertical-align: middle;
    font-weight: bold;
}

.stamp {
    padding: 10px;
    background-color: lightskyblue;
    font-weight: bold;
    border: thin solid;
}

.red-stamp {
    background-color: #f0cbcf;
    padding: 10px;
    font-weight: bold;
    border: thin solid;
}

.green-stamp {
    background-color: #a0f0e0;
    padding: 10px;
    font-weight: bold;
    border: thin solid;
}

.stamp-title {
    font-size: x-small;
}

.stamp-content {
    font-size: large;
    min-height: 25px;
}

.standard-form {
    background-color: #f3f6fc;
    margin-top: 10px;
    padding: 10px;
}

.table-index {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.upstream {
    font-style: italic;
}

.top-button {
    width: 100%;
}

.detailed {
    vertical-align: super;
    font-size: smaller;
    color: lightgray;
    margin-left: 5px;
    font-style: italic;
}

.countdown {
    background-color: yellow;
    font-size: larger;
    padding: 5px;
    border: solid medium #730E15;
}

.loader {
    position: fixed;
    z-index: 999;
    margin: auto;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;

    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 600ms linear infinite;
}

.container-leadtime {
    margin: 0 100px 0 100px;
}

.leadtime-frame {
    padding: 0 2px 0px 2px;
}

.leadtime-content {
    padding: 3px 0 0 0;
    background-color: #DADADA;
    border-bottom: 3px solid red;
    text-align: center;
}

.leadtime-title {
    font-size: smaller;
    font-weight: bold;
}

.leadtime-value {
    font-size: small;
}

.filter-button {
    width: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
