<h4>Bloqueios</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Demanda</th>
      <th>Data do Bloqueio</th>
      <th>Data do Desbloqueio</th>
    </tr>
  </thead>
  <tbody>
    <% demand_blocks.each do |block| %>
      <tr>
        <td><%= block.demand.external_id %></td>
        <td><%= I18n.l(block.block_time, format: :short) %></td>
        <td><%= I18n.l(block.unblock_time, format: :short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
