<%= form_for [@company, @team, @team_member], class: 'form', remote: true do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'team_members/form', f: f, team: @team, team_member: @team_member, company: @company %>
    </div>
  </div>
<% end %>
