<%= form_for service_delivery_review, url: company_product_service_delivery_review_path(company, product, service_delivery_review), method: :put, class: 'form', remote: true do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'service_delivery_reviews/form', f: f, service_delivery_review: service_delivery_review, company: company %>
    </div>
  </div>
<% end %>
