<%= render 'demands/demands_search_filters', start_date: start_date, end_date: end_date %>

<div id="demand-tab-content">
  <hr>
  <div id="listing">
    <div id="container-leadtime-div" class="container-leadtime">
      <%= render 'demands/demands_leadtime_container', demands: @demands, confidence_65_leadtime: confidence_65_leadtime, confidence_80_leadtime: confidence_80_leadtime, confidence_95_leadtime: confidence_95_leadtime, queue_time: queue_time, touch_time: touch_time %>
    </div>

    <hr>

    <div id="flat-demands-div">
      <%= render 'demands/demands_table', company: company, demands: demands, unpaged_demands: unpaged_demands %>
    </div>
  </div>
</div>
