<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks demands-tab" onclick="openTab(event, 'demands-list', 'tablinks', 'tabcontent')"><%= I18n.t('demands.data_analysis.demands_list') %></button>
      <button class="tablinks demands-tab" onclick="openTab(event, 'content-discarded-demands', 'tablinks', 'tabcontent')"><%= I18n.t('demands.data_analysis.discarded_demands') %></button>
    </div>
  </div>
</div>

<div id="demands-list" class="tabcontent">
  <%= render 'demands/demands_list',
             company: company,
             paged_demands: paged_demands,
             demands: demands,
             demands_ids: demands_ids,
             confidence_65_leadtime: confidence_65_leadtime,
             confidence_80_leadtime: confidence_80_leadtime,
             confidence_95_leadtime: confidence_95_leadtime,
             avg_queue_time: avg_queue_time,
             avg_touch_time: avg_touch_time,
             queue_time: queue_time,
             touch_time: touch_time,
             avg_work_hours_per_demand: avg_work_hours_per_demand,
             start_date: start_date,
             end_date: end_date %>
</div>

<div id="content-discarded-demands" class="tabcontent">
  <%= render 'demands/discarded_demands_table', company: company, discarded_demands: discarded_demands, projects_ids: projects_ids %>
</div>
