<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= I18n.t('demands.edit.title') %></h4>
    </div>
    <div class="modal-body">
      <%= form_for demand, url: company_project_demand_url(company, project, demand), remote: true, method: :put, class: 'form' do |f| %>
        <%= render 'demands/form', company: company, demand: demand, form: f %>
      <% end %>
    </div>
  </div>
</div>
