<% if demands.present? %>
  <h4><%= t('demands.index.count', demands_count: demands.map { |demands_hash| demands_hash[1].count }.sum) %></h4>
  <% demands.each do |customer_name, demands_to_customer| %>
    <h2><%= customer_name %></h2>
    <%= render 'demands/demands_table', company: company, demands: demands_to_customer %>
  <% end %>

<% else %>
  <div class="no-data">
    <%= t('general.no_data', missing_data: Demand.model_name.human.pluralize(2).downcase) %>
  </div>

<% end %>
