var destroyedRow = $('#demand_<%= @demand.id %>');

destroyedRow.fadeOut(600, function(){
    destroyedRow.remove();
});


$('#demands_count').html("<h4><%= t('demands.index.count', demands_count: @demand.project.demands.kept.count) %></h4>")
