<h1 style="text-align: center">Pushing the software management to the next level</h1>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/line' %>

  <%= javascript_include_tag 'customers/show' %>
<% end %>
