<div class="row bottom-spaced-component">
  <div class="col-xs-3">
    <%= label_tag t('general.period') %>
    <%= select_tag :period, period_options(:week), class: 'form-control', id: 'operational-charts-period' %>
  </div>
</div>

<hr>

<div id="operational-charts-div">
  <%= render 'charts/operational_charts', target_name: target_name, report_data: report_data %>
</div>
