<div class="row">
  <div class="col-xs-3">
    <%= label_tag t('general.period') %>
    <%= select_tag :period, period_options(:week), class: 'form-control filter-checks', id: 'status-report-period', selected: params[:period] %>
  </div>
</div>

<div id="status-report-charts-current-div">
  <%= render 'charts/status_report_charts', target_name: target_name, status_report_data: status_report_data %>
</div>

<div id="status-report-charts-projection-div">
  <% if status_report_data&.running_projects_in_the_list? %>
    <%= render 'charts/status_report_projection_charts', target_name: target_name, status_report_data: status_report_data %>
  <% end %>
</div>
