<%= hidden_field_tag :target_name, target_name %>
<%= hidden_field_tag :projects_ids, projects.map(&:id).join(',') %>

<div class="row">
  <div id="strategic-charts-div">
    <%= render 'charts/strategic_charts', model_name: target_name, strategic_chart_data: strategic_chart_data %>
  </div>
</div>
