<% if project.products.present? %>
<table class="table">
  <thead>
    <tr>
      <th><%= Product.human_attribute_name :name %></th>
    </tr>
  </thead>

  <tbody>
    <% project.products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= render 'layouts/no_data', missing_data: Product.model_name.human.pluralize(2).downcase %>
<% end %>
