<div class="row">
  <div class="col-xs-4">
    <%= link_to I18n.t('projects.actions.edit.title'), edit_company_project_path(company, project), class: 'btn btn-primary btn-block bottom-spaced-component' %>
  </div>
  <div class="col-xs-4">
    <%= link_to I18n.t('demands.new.title'), new_company_project_demand_path(company, project), class: 'btn btn-primary btn-block bottom-spaced-component' %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'jira_project_configs/form_modal' %>
<% end %>
