# Add configuration values here, as shown below.
#

secret_key_base: 'xpto'
secret_key_32_encoded: 'xpto'
rollbar_access_token: 'xpto'
sendgrid_api_key: 'xpto'
cloudinary_cloud_name: 'foo'
cloudinary_api_key: 'bar'
cloudinary_api_secret: 'xpto'
slack_token: 'https://hooks.slack.com/services/your/webhook/url'
