# Add configuration values here, as shown below.
#

secret_key_base: 'xpto'
secret_key_32_encoded: 'xpto'
pipefy_token: 'xpto'
perform_full_pipefy_read: 'xpto'
rollbar_access_token: 'xpto'
sendgrid_username: 'xpto'
sendgrid_password: 'xpto'
