<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= t('stages.edit.title') %></h4>
    </div>
    <div class="modal-body">
      <%= form_for @stage, url: company_stage_url(@company, @stage), remote: true, method: :put, class: 'form' do |f| %>
        <%= render 'stages/form', company_id: company_id, stage_id: stage_id, form: f %>
      <% end %>
    </div>
  </div>
</div>
