<div class="row">
  <div class="col-xs-12">
    <%= link_to I18n.t('flow_impacts.new.title'), new_company_project_flow_impact_path(company, project), remote: true, class: 'btn btn-sm btn-success bottom-spaced-component pull-right' %>
  </div>
</div>

<%= render 'flow_impacts/flow_impacts_table', company: company, flow_impacts_list: flow_impacts_list %>
