$("#flow_impact_demand_id").html("<%= escape_javascript options_from_collection_for_select(@demands_to_project, :id, :demand_id) %>");
$("#flow_impact_demand_id").prepend("<option value='' selected='selected'><%= I18n.t('general.select') %></option>");
