<p><%= I18n.t('devise.general.greetings', name: @resource.first_name) %></p>

<p><%= I18n.t('devise.passwords.reset_instructions_text') %></p>

<p><%= link_to I18n.t('devise.passwords.change_password.button'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('devise.passwords.change_password.warning') %></p>
