<% if demands_blocks.present? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= link_to t('general.download_csv'), demands_blocks_csv_company_demand_blocks_path(company, projects_ids, format: :csv), class: 'btn btn-sm btn-success' %>
      </div>
    </div>
  </div>

  <%= render 'demand_blocks/demand_blocks_table', demand_blocks_list: demands_blocks %>

<% else %>
  <div class="no-data">
    <%= t('general.no_data', missing_data: t('general.data')) %>
  </div>

<% end %>
