<div class="row">
  <div class="col-xs-12">
    <h3><%= I18n.t('demand_blocks.index.title') %></h3>
  </div>
</div>

<div id="demand-blocks">
  <%= render 'demand_blocks/demand_blocks_table', company: company, demand_blocks_list: demand_blocks_list, demand_blocks_ids: demand_blocks_ids, paged_demand_blocks: paged_demand_blocks %>
</div>
