<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= I18n.t('demand_blocks.edit.title') %></h4>
    </div>
    <div class="modal-body">
      <%= render 'demand_blocks/form', company_id: company_id, project_id: project_id, demand_id: demand_id, block_id: block_id %>
    </div>
  </div>
</div>
