<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="indexBlocks"><%= I18n.t('demand_blocks.index.title') %></h4>
    </div>
    <div class="modal-body">
      <div id="demand-blocks">
        <%= render 'demand_blocks/demand_blocks_table', company: company, demand_blocks_list: demand_blocks_list, demand_blocks_ids: demand_blocks_list.map(&:id).join(',') %>
      </div>
    </div>
  </div>
</div>
