<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= "#{Contract.model_name.human} - #{I18n.l(@contract.start_date)} - #{I18n.l(@contract.end_date)}" %></li>
    </ul>
  </div>
</div>

<%= render 'contracts/dashboards/contracts_dashboard', contracts_flow_information: @contracts_flow_information %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'contracts/show' %>
<% end %>
