<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= t('products.index.title') %></li>
    </ul>
  </div>
</div>

<%= render 'products/products_table', company: @company, products_list: @products %>
